body {

	background-color: black;
}


#container {
	border: 1px solid blue;
	text-align: center;
	margin: 10px auto;
	width: 75%;
	height: 75%;
	left: 150px;
	display: table;

}

.box {
	display: inline-block;
	background-color: black;
	width: 10px;
	height: 10px;
	
}

.marked {
	background-color: blue;
}

.green {
	background-color: green;
}

.red {
	background-color: red;
}

#buttons{
	border: 1px solid blue;
	text-align: center;
	width: 75%;
	margin: 10px auto;

}

#erase, #blue, #red, #green {
	font-family: Arial;
	font-weight: bold;
	background-color: black;
	margin: 10px 30px;
	width: 50px;
	color: white;
}



h1 {
	margin: auto;
	border: 1px solid blue; 
	text-align: center;
	font-family: sans-serif;
	color: #6666ff;
	width: 75%
}